* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.edit_button {
  background-color: orange !important;
  color: white !important;
}
.edit_button:hover {
  background-color: rgb(246, 176, 45) !important;
  border-color: white !important;
}
